# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven
target/

# Gradle
build/

# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/
*.launch
*.iml
*.ipr

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/


*.csv
*.csv#

*.json